html, body {
    margin: 0px;
    padding: 0px;
    border: none;
    height: 100%;
    width: 100%;
}

body {
    background-color: #f0f0f0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#MainSplitter {
    /* Height is set to match window size in $().ready() below */
    min-width:  600px;
	min-height: 300px;

    width: auto;

    padding: 10px;
    margin: 7px;
    border:  5px solid red;

    overflow: auto;
    background-color: #90ee90;
}

.mainLeft {
    margin: 10px;
    border: 3px solid blue;
    padding: 5px;
}

#SecondarySplitter {
    padding: 10px;
    margin: 7px;
    border:  5px solid blue;
}

.secondaryLeft {
    margin: 15px;
    border: 3px solid blue;
    padding: 5px;
}

.secondaryRight {
    margin: 7px;
    border: 3px solid black;
    padding: 5px;
}

.SplitterPane {
	background: #eef;
	overflow: auto;
}
.vsplitbar {
	width: 6px;
	background-color: #669;
}
.vsplitbar.active, .vsplitbar:hover {
	background-color: #c66;
	width: 6px;
	opacity: 0.5;
}